<mat-toolbar color="primary">
  <span>My Application</span>
  <header>
    <a class="header"  routerLink="/">Home</a>
    <a class="header"  routerLink="/list">List</a>
    <a class="header"  routerLink="/directives">Directives</a>
    <a class="header"  routerLink="/emitter">Emitter</a>
    <a class="header"  routerLink="/events">Events</a>
    <a class="header"  routerLink="/if-render">If-render</a>
    <a class="header"  routerLink="/parent-data">Parent-data</a>
    <a class="header"  routerLink="/pipes">Pipes</a>
    <a class="header"  routerLink="/two-way-binding">Two-way-binding</a>
  </header>
</mat-toolbar>
<mat-card>
  <mat-card-content>
<router-outlet></router-outlet>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
</mat-card-content>
</mat-card>
<footer>
<p>hello footer</p>
</footer>
