<p>header</p>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/list">List</a>
  <a routerLink="/directives">Directives</a>
  <a routerLink="/emitter">Emitter</a>
  <a routerLink="/events">Events</a>
  <a routerLink="/if-render">If-render</a>
  <a routerLink="/parent-data">Parent-data</a>
  <a routerLink="/pipes">Pipes</a>
  <a routerLink="/two-way-binding">Two-way-binding</a>
</nav>
<h1>Hello World Angular!</h1>
<router-outlet></router-outlet>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<p>footer</p>
