body {
  padding-bottom: 500px;
}

.header {
  border-bottom: 1px solid black;
  padding: 2em;
  margin-bottom: 1em;
}

.class {
  border-bottom: 1px solid black;
  padding: 2em;
  margin-bottom: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
